@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;700;800&family=Cairo:wght@300;700;800&family=Ibarra+Real+Nova&family=Nunito:wght@300&family=Oswald:wght@400;500;600&family=Playfair+Display:ital,wght@0,400;0,500;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .5s;
}
:root{
    /* Colors */
    --body-color: #282828;
    --bg-head-color: #212121;
    --second-color: #C59D69;
    --sm-text-color: #969696;

    /* Fonts */
    --head-font: 'Baloo Bhaijaan 2', cursive;
    --bold-font: 'Ibarra Real Nova', serif;
}
body{
    overflow-x: hidden;
    background-color: var(--body-color);
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* Start Page Loding */
.loader {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #212121;
    z-index: 10;
}
.bar {
    display: inline-block;
    width: 4px;
    height: 40px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    animation: scale-up4 1s linear infinite;
}
.bar:nth-child(2) {
    height: 35px;
    margin: 0 5px;
    animation-delay: .25s;
}
.bar:nth-child(3) {
    animation-delay: .5s;
}
@keyframes scale-up4 {
    20% {
        background-color: #ffff;
        transform: scaleY(1.5);
    }
40% { transform: scaleY(1);}
}

/* Start Img Decoration */
.img-dec{
    opacity: 50%;
    position: absolute;
    transition: .4s;
    animation: playaround 5s linear infinite;
}
.img-dec:nth-of-type(1){
    left: 2%;
}
.img-dec:nth-of-type(2){
    right: 2%;
    top: 100%;
}
.img-dec:nth-of-type(3){
    right: 2%;
    top: 150%;
}
.img-dec:nth-of-type(4){
    left: 2%;
    
}
.img-dec:nth-of-type(5){
    left: 2%;
    
}
@media (max-width: 600px){
    .img-dec{
        height: 17.7vh;
    }
}
@keyframes playaround {
    0%{
        transform: translateY(10px);
    }
    25%{
        transform: translateX(-10px);
    }
    50%{
        transform: translateX(5px);
    }
    100%{
        transform: translateY(10px);
    }
}

/* Start  */
.head{
    width: 100%;
    height: 50%;
    position: relative;
    padding-left: 80px;
    padding-right: 80px;
}
.head .container{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    overflow: hidden;
    width: 100%;
    height: 35vh;
    border-radius: 20px;
    transform: translateY(-15px);
    border: 2px solid var(--second-color);
    background-color: var(--bg-head-color);
}
.head .container::after,
.head .container::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    filter: blur(80px);
    background-color: var(--second-color);
}
.head .container::after{
    right: 20px;
    top: 0;
}
.head .container::before{
    left: 20px;
    top: 0;
}
.head .container a{
    transform: translateY(-25px);
}
.head .container a i{
    padding-bottom: 3px;
    font-size: 45px;
    color: #000;
}
@media (max-width: 500px) {
    .head .container a i {
        font-size: 30px;
    }
}
.head .container a i:hover{
    color: var(--second-color);
    border-bottom: 2px solid var(--second-color);
}
.head .img{
    display: inline-block;
    width: 150px;
    height: 150px;
    position: relative;
    left: 50%;
    border-radius: 50%;
    overflow: hidden;
    transform: translate(-50%, -70%);
    background-color: var(--body-color);
    border: 2px solid var(--second-color);
}
.head .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Start Content */
.content{
    padding: 0 150px;
}
.content .container{
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.content .container::before,
.content .container::after{
    content: '';
    position: absolute;
    width: 150px;
    height: 150px;
    filter: blur(89px);
    border-radius: 50%;
    background-color: var(--second-color);
    z-index: -1;
}   
.content .container::before{
    left: -200px;
}
.content .container::after{
    right: -15%;
    top: 60%;
    background-color: var(--sm-text-color);
}
.content .container .left,
.content .container .center,
.content .container .right{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content .container .left{
    align-items: flex-start;
}
.content .container .center{
    text-align: center;
    align-items: center;
}
.content .container .right{
    align-items: flex-end;
    text-align: right;
}
.content .container .center{
    align-items: center;
    justify-content: flex-start;
    transform: translateY(-40px);
}
.content .container .center .box p{
    font-size: 25px;
    color: var(--sm-text-color);
    font-family: var(--bold-font);
}
.content .container .left .box,
.content .container .center .box,
.content .container .right .box{
    padding-bottom: 40px;

    transform: translateY(50px);
    opacity: 0;
}
.content .container .left .box.show,
.content .container .center .box.show,
.content .container .right .box.show{
    transform: translateY(0px);
    opacity: 100%;
}

.content .container .left .box h3,
.content .container .center .box h1,
.content .container .right .box h3{
    padding-bottom: 5px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: var(--head-font);
}
.content .container .left .box p,
.content .container .right .box p{
    font-family: var(--head-font);
    color: var(--sm-text-color);
}
.content .container .center .box h1{
    font-size: 40px;
    font-weight: 200;
    text-transform: none;
    color: var(--second-color);
    font-family: var(--bold-font);
}
.content .container .right .box .starts i{
    color: gold;
    cursor: pointer;
}
.content .container .right .box .starts i:last-of-type{
    color: black;
}
.content .container .right .box .starts i:hover{
    transform: scale(1.4) rotate(15deg);
}

/* Start Media For Screen 4K */
@media (max-width: 2700px) and (min-width: 2120px){
    .content .container{
        grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    }
}
@media (max-width: 2120px) and (min-width: 1820px){
    .content .container{
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }
}
@media (max-width: 1820px) and (min-width: 1520px){
    .content .container{
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}
@media (max-width: 1220px) and (min-width: 768px){
    .head{
        padding-left: 50px;
        padding-right: 50px;
    }
    .content .container{
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }
    .content .container .left,
    .content .container .center,
    .content .container .right{
        text-align: center;
        align-items: center;
    }
    .content .container .left{
        order: 2;
    }
    .content .container .center{
        order: 1;
    }
    .content .container .right{
        order: 2;
    }
}
@media (max-width: 500px){
    .head{
        padding-left: 20px;
        padding-right: 20px;
    }
    .head .container {
        height: 30vh;
        gap: 35px;
    }
    .head .container::after, .head .container::before {
        content: '';
        position: absolute;
        width: 100px;
        height: 100px;
        filter: blur(50px);
        background-color: var(--second-color);
    }
    .head .container::after {
        right: -40px;
        top: -70px;
    }
    .head .container::before {
        left: -40px;
        top: -70px;
    }
    .head .img {
        width: 130px;
        height: 130px;
    }
    .content {
        padding: 0 10px;
        overflow: hidden;
        text-align: center;
    }
    .content .container{
        grid-template-columns: repeat(auto-fill, minmax(221px, 1fr));
    }
    .content .container::before {
        top: 20%;
    }
    .content .container::after{
        top: 60%;
    }
    .content .container .left,
    .content .container .center,
    .content .container .right{
        text-align: center;
        align-items: center;
    }
    .content .container .left{
        order: 2;
    }
    .content .container .center{
        order: 1;
        padding-top: 60px;
    }
    .content .container .right{
        order: 2;
    }
}

/* Start advantage */
.advantage{
    padding: 20px 100px;
    text-align: center;
}
.advantage h1{
    font-size: 40px;
    font-weight: 200;
    padding-bottom: 60px;
    font-family: var(--bold-font);
    color: var(--second-color);
}
.advantage .container{
    width: 100%;
    height: 50%;
}
.swiper {
    width: 100%;
    height: 50%;
    padding-bottom: 20px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    padding-bottom: 20px;
    background: rgba(255, 255, 255, 0);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    gap: 20px;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 50%;
}
.swiper-slide .card{
    padding: 20px;
    position: relative;
    width: 115px;
    height: 195px;
    overflow: hidden;
    border-radius: 100px;
    background-color: #fff;
}
.swiper-slide .card .wraper img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 70%;
}
.swiper-slide .card .wraper img:hover{
    opacity: 100%;
    cursor: pointer;
    animation: play-img 3s linear infinite;
}
@keyframes play-img {
    0%{
        transform: translateY(-10px);
    }
    25%{
        transform: translateY(5px) rotate(5deg);
    }
    50%{
        transform: translateY(5px) rotate(0deg);
    }
    75%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(5px) rotate(-5deg);
    }
    0%{
        transform: translateY(-10px);
    }
}
.swiper-slide h4{
    font-weight: 500;
    text-transform: uppercase;
    color: var(--second-color);
    font-family: var(--head-font);
}
.swiper-slide .card .wraper {
    padding: 30px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    overflow: hidden;
}
.swiper-slide .card .wraper .wave {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 50%;
    background: #fff;
    animation: wave 5s infinite linear;
}
@keyframes wave {
    /* from { transform: rotate(0deg);}
    from { transform: rotate(360deg);} */

    0%{
        transform: rotate(-100deg);
    }
    50%{
        transform: rotate(100deg);
    }
    100%{
        transform: rotate(-100deg);
    }
}
.swiper-slide .card span{
    position: absolute;
    top: 80%;
    left: 50%;
    z-index: 10;
    font-family: var(--head-font);
    transform: translatex(-40%);
}
.swiper-pointer-events {
    touch-action: pan-y;
    padding-bottom: 20px !important;
}
.swiper-pagination{
    bottom: 0 !important;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    width: 16px;
    height: 4px;
    cursor: pointer;
    border-radius: 15px;
    background: var(--second-color);
}
@media (max-width: 426px) {
    .advantage{
        padding: 55px 10px;
    }
}

/* Start projects */
.projects{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 100px 150px;
}
.projects > h1{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    font-family: var(--bold-font);
    color: var(--second-color);
}
/*New UpDate */
.projects .traker-pop{
    position: absolute;
    z-index: 10000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    filter: blur(5px);
    backdrop-filter: blur(2px);
    background-color: var(--second-color);
}
/* ///////////////////////////////////////////////////////////////////////////////////////   */
/* Start Update */
.projects .container{
    padding-top: 50px;
    width: 100%;
    display: flex;
    gap: 80px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.projects .container .main-box{
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
.projects .container .main-box .box-img{
    position: relative;
    min-height: 300px;
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.091);
    opacity: 0;
}
.projects .container .main-box .box.show{
    opacity: 100%;
}
.projects .container .main-box .box-img::after{
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--bg-head-color);
    animation: top 3s linear infinite;
    transition: .5s ease-in-out;
}
.projects .container .main-box .box-img::before{
    content: '';
    position: absolute;
    top: -10px;
    left: -11px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--bg-head-color);
    animation: bown 4s linear infinite;
    z-index: 10;
}
@keyframes top{
    0%,100%{
        transform: scale(1.1);
        opacity: 90%;
    }
    50%{
        transform: scale(1.2);
        opacity: 50%;   
        background-color: rgba(238, 238, 238, 0.249); 
    }
}
.projects .container .main-box .box-img img{
    transition: .5s;
    animation: top-down 10s linear infinite;
}
@keyframes top-down{
    0%,100%{
        transform: translateY(6px);
    }
    50%{
        transform: translateY(-6px);
    }
}
.projects .container .main-box .box-info{
    z-index: 10;
    max-width: 500px;
    /*height: 220px;
    min-height: 222px; */
    padding: 20px 20px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: flex-start;
    font-family: var(--head-font);
    background-color: var(--bg-head-color);
    box-shadow: 0px 0px 50px var(--bg-head-color);
    transform: translateX(40px);
    opacity: 0;
}
.projects .container .main-box .box.show{
    transform: translateX(0px);
    opacity: 100%;
}
.projects .container .main-box .box-info .head-info{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.projects .container .main-box .box-info h1,
.projects .container .main-box .box-info .head-info h1{
    color: var(--second-color);
}
.projects .container .main-box .box-info .head-info h4{
    color: rgba(238, 238, 238, 0.679);
}
.projects .container .main-box .box-info p{
    font-size: 15px;
    font-weight: 300;
    color: rgba(221, 221, 221, 0.61);
}
.projects .container .main-box .box-info .btn{
    padding-top: 20px;
}
.projects .container .main-box .box-info a{
    padding: 5px 20px;
    border-radius: 10px;
    color: var(--second-color);
    box-shadow: 0px 0px 80px #000;
    background-color: var(--bg-head-color);
}
.projects .container .main-box .box-info a:hover,
.projects .container .main-box .box-info a:visited{
    border: 1px solid;
}
.projects .container .main-box .box-info:nth-of-type(1){
    position: relative;
    left: 90px;
    max-width: 400px;
}
.projects .container .main-box .box-info:nth-of-type(2){
    position: relative;
    right: 15px;
}
@media (max-width: 890px) {
    .projects .container .main-box {
        place-items: center;
    }
    .projects .container .main-box .box-img {
        width: 80%;
    }
    .projects .container .main-box .box-img .img{
        transform: translateY(-20px);
    }
    .projects .container .main-box {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .projects .container .main-box .box-info:nth-of-type(1){
        left: 0;
        order: 2;
        bottom: 35px;
    }
    .projects .container .main-box .box-info:nth-of-type(2){
        right: 0px;
        bottom: 35px;
    }
}
@media (max-width: 430px) {
    .projects .container .main-box .box-img {
        width: 100%;
    }
    .projects .container .main-box .box-img .img img:nth-of-type(1){
        height: 12rem;
    }
    .projects .container .main-box .box-info {
        width: 85%;
    }
    .projects .container .main-box .box-info h1{
        font-size: 22px;
    }
    .projects .container .main-box .box-info p {
        font-size: 13px;
    }
    /* effect box */
    .projects .container .main-box .box-info{
        transform: translateY(20px);
    }
}
@media (max-width: 376px){
    .projects .container .main-box .box-info h1{
        font-size: 13px;
    }
    .projects .container .main-box .box-info p {
        font-size: 10px;
    }
    .projects .container .main-box .box-img {
        min-height: 233px;
    }
    .projects .container .main-box .box-img .img img:nth-of-type(1) {
        height: 8rem;
    }
}
/* End Update */
@media (max-width: 1025px) {
    .projects {
        padding: 10px 45px;
    }
    .projects h1 {
        font-size: 39px;
    }
    .projects .container .box:nth-of-type(3){
        order: 3;
    }
}
@media (max-width: 600px) {
    .projects .container{
        gap: 40px;
    }
}

/* >> UP << Start Riting  */
.tranding::after{
    content: '';
    position: absolute;
    top: 75%;
    left: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--second-color);
    animation: play 8s ease-in-out infinite;
}
.tranding::before{
    content: '';
    position: absolute;
    top: 10%;
    right: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--second-color);
    animation: play 3s ease-in-out infinite;
}
@keyframes play{
    0%{
        border-radius: 90% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40% / 70% 60% 30% 60%;
    }
    100%{
        border-radius: 80% 40% 30% 70% / 60% 30% 40% 70%;
    }
}
.tranding .container {
    max-width: 100rem;
    padding: 0 1rem;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}
.section-heading {
    font-size: 40px;
    padding: 1rem 0;
    color: var(--second-color);
    font-family: var(--bold-font);
}
#tranding {
    position: relative;
    padding: 2rem 0;
}
@media (max-width:1440px) {
    #tranding {
        padding: 1rem 20px;
    }
}
#tranding .tranding-slider {
    height: 25rem;
    padding: 2rem 0;
    position: relative;
}
@media (max-width:500px) {
    #tranding .tranding-slider {
        height: 45rem;
    }
    .tranding-slide .tranding-slide-img{
        transform: scale(1) !important;
    }
}
.tranding-slide {
    width: 50rem;
    height: 40rem;
    position: relative;
}
@media (max-width:500px) {
    .tranding-slide {
        width: 20rem !important;
        height: 36rem !important;
    }
    .tranding-slide .tranding-slide-img img {
        object-fit: contain;
        width: 30rem !important;
        height: 36rem !important;
    }
    .tranding-slide .tranding-slide-img{
        transform: scale(1) !important;
    }
}
.tranding-slide .tranding-slide-img{
    transform: scale(1.5);
}
.tranding-slide .tranding-slide-img img {
    width: 40rem;
    height: 15rem;
    border-radius: 5px;
    object-fit: contain;
}
.swiper-3d, .swiper-3d.swiper-css-mode .swiper-wrapper {
    perspective: 40px !important;
}
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}
.tranding-slider-control {
    position: relative;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}
.tranding-slider-control .swiper-button-next {
    left: 58% !important;
    transform: translateX(-58%) !important;
}
@media (max-width:990px) {
    .tranding-slider-control .swiper-button-next {
        left: 70% !important;
        transform: translateX(-70%) !important;
    }
}
@media (max-width:450px) {
    .tranding-slider-control .swiper-button-next {
        left: 80% !important;
        transform: translateX(-80%) !important;
    }
}
@media (max-width:990px) {
    .tranding-slider-control .swiper-button-prev {
        left: 30% !important;
        transform: translateX(-30%) !important;
    }
}
@media (max-width:450px) {
    .tranding-slider-control .swiper-button-prev {
        left: 20% !important;
        transform: translateX(-20%) !important;
    }
}
.tranding-slider-control .slider-arrow {
    background: var(--white);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}
.tranding-slider-control .slider-arrow ion-icon {
    font-size: 2rem;
    padding: 5px;
    color: #252525;
    border-radius: 50%;
    background-color: var(--second-color);
}
.tranding-slider-control .slider-arrow::after {
    content: '';
}
.tranding-slider-control .swiper-pagination {
    position: relative;
    width: 15rem;
    bottom: 1rem;
}
.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}
.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
    background: var(--primary);
}



/* Start Conection Section */
.conection{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 100px 150px 40px;
    overflow: hidden;
}
.conection h1{
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    font-family: var(--bold-font);
    color: var(--second-color);
}
.conection .container{
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--second-color);

    transform: translateY(50px);
    opacity: 0;
}
.conection .box.show{
    transform: translateY(0px);
    opacity: 100%;
}
.conection .container a i{
    padding-bottom: 3px;
    font-size: 40px;
    color: #000;
}
.conection .container a i:hover{
    transform: translateY(-10px);
    color: var(--second-color);
    /* border-bottom: 2px solid var(--second-color); */
}
@media (max-width: 600px) {
    .conection{
        padding: 100px 20px 10px;
    }
}
