*{
    padding: 0;
    margin: 0;
    transition: .4s;
    box-sizing: border-box;
}
body{
    background-color: #282828;
}
/* Start Page Loding */
.loader {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #212121;
    z-index: 10;
}
.bar {
    display: inline-block;
    width: 4px;
    height: 40px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    animation: scale-up4 1s linear infinite;
}
.bar:nth-child(2) {
    height: 35px;
    margin: 0 5px;
    animation-delay: .25s;
}
.bar:nth-child(3) {
    animation-delay: .5s;
}
@keyframes scale-up4 {
    20% {
        background-color: #ffff;
        transform: scaleY(1.5);
    }
40% { transform: scaleY(1);}
}
section{
    width: 100%;
    height: 100%;
    padding: 50px 100px;
    overflow: hidden;
    background-color: #282828;
}
.img-decoration{
    position: absolute;
    height: 10rem;
    opacity: 50%;
    animation: playaround 5s linear infinite;
}
.img-decoration:nth-of-type(1){left: 2%;}
.img-decoration:nth-of-type(2){right: 2%; top: 50%;}
.img-decoration:nth-of-type(3){left: 2%;  top: 80%;}
.img-decoration:nth-of-type(4){display: none;}
@media (max-width: 600px) {
    .img-decoration:nth-of-type(2){right: 2%; top: 55%;}
    .img-decoration:nth-of-type(3){left: 2%; top: 100%;}
    .img-decoration:nth-of-type(4){ display: block; right: 2%;  top: 160%;}
}
@keyframes playaround {
    0%{
        transform: translateY(10px);
    }
    25%{
        transform: translateX(-10px);
    }
    50%{
        transform: translateX(5px);
    }
    100%{
        transform: translateY(10px);
    }
}
.title::after,
.title::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    filter: blur(60px);
    background-color: #fff;
}
.title::after{
    right: -200px;
    top: 0;
    /* animation: down 1s linear infinite; */
}
.title::before{
    left: -200px;
    top: 20%;
    /* animation: top 1s linear infinite; */
}
@keyframes down {
    0%,100%{
        transform: translateY(100%);
    }
    50%{
        transform: translateY(-100%);
    }
}
.title{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    background-color: aliceblue;
}
.title h1{
    font-family: sans-serif;
}
.title i{
    padding: 8px;
    border-radius: 5px;
    color: #fff;
    background-color: #C59D69;
}
.container{
    position: relative;
    padding: 50px 0;
    display: grid;
    gap: 35px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.container .box{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #fff;

    /* Effect Js */
    transform: translateY(40px);
    opacity: 0;
}
.container .box.show{
    transform: translateY(0px);
    opacity: 100%;
}
.container .box:hover{
    transform: translateY(-10px);
}
.container .box .img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 7px;
}
.container .box .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .box .img p{
    position: absolute;
    top: 80%;
    left: 15px;
    font-size: 13px;
    line-height: 1.4;
    font-weight: 500;
    letter-spacing: .5px;
    font-family: sans-serif;
    z-index: 10;
    color: #e8e8e8;
    opacity: 0;
    transform: translateX(-300px);
}
.container .box .img p span{
    font-size: 11px;
    color: #e8e8e8;
}
.container .box .img:hover  p{
    opacity: 100%;
    transform: translateX(0px);
}
.container .box .img img:hover{
    transform: scale(1.4);
}
.container .box .content{
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .box .content i{
    font-size: 25px;
    cursor: pointer;
    color: #9e9e9e;
}
.container .box .content .btn{
    overflow: hidden;
    position: relative;
    width: 30px;
    height: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    opacity: 50%;
    background-color: #C59D69;
}
.container .box .content .btn:hover{
    opacity: 100%;
}
.container .box .content .btn a i{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 13px;
    transform: translate(-50%, -50%);
}
@media (max-width: 600px) {
    section{
        padding: 20px 10px;
    }
    .title {
        padding: 15px;
    }
    .container {
        padding: 50px 20px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .container .box {
        gap: 5px;
        padding: 10px 8px;
    }
    .container .box .img p{
        top: 75%;
    }
}
