*{
    padding: 0;
    margin: 0;
    transition: .4s;
    box-sizing: border-box;
}
body{
    background-color: #282828;
}
/* Start Page Loding */
.loader {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #212121;
    z-index: 10;
}
.bar {
    display: inline-block;
    width: 4px;
    height: 40px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    animation: scale-up4 1s linear infinite;
}
.bar:nth-child(2) {
    height: 35px;
    margin: 0 5px;
    animation-delay: .25s;
}
.bar:nth-child(3) {
    animation-delay: .5s;
}
@keyframes scale-up4 {
    20% {
        background-color: #ffff;
        transform: scaleY(1.5);
    }
40% { transform: scaleY(1);}
}
section{
    width: 100%;
    height: 100%;
    padding: 50px 100px;
    overflow: hidden;
    background-color: #282828;
}
.title::after,
.title::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    filter: blur(60px);
    background-color: #fff;
}
.title::after{
    right: -200px;
    top: 0;
    /* animation: down 1s linear infinite; */
}
.title::before{
    left: -200px;
    top: 20%;
    /* animation: top 1s linear infinite; */
}
@keyframes down {
    0%,100%{
        transform: translateY(100%);
    }
    50%{
        transform: translateY(-100%);
    }
}
.title{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    background-color: aliceblue;
}
.title h1{
    font-family: sans-serif;
}
.title i{
    padding: 8px;
    border-radius: 5px;
    color: #fff;
    background-color: #C59D69;
}
.container{
    padding: 50px 0;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.container .box{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #fff;

    /* Effect Js */
    transform: translatey(30px);
    opacity: 0;
}
.container .box.show{
    transform: translatey(0px);
    opacity: 100%;
}
.container .box:hover{
    transform: translateY(-10px);
}
.container .box .img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.container .box .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .box .img img:hover{
    transform: scale(1.3);
}
.container .box .content{
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .box .content h3{
    font-family: sans-serif;
}
.container .box .content .btn{
    overflow: hidden;
    position: relative;
    width: 30px;
    height: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    opacity: 50%;
    background-color: #C59D69;
}
.container .box .content .btn:hover{
    opacity: 100%;
}
.container .box .content .btn a i{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 600px) {
    section{
        padding: 20px 10px;
    }
    .title {
        padding: 15px;
    }
    .container {
        padding: 50px 20px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .container .box {
        gap: 5px;
        padding: 15px;;
    }
}
